@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

html {
    --primary-color: theme('color.violet.800');
    --primary-color-hover: theme('color.violet.500');
}

.text-primary {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

a:hover {
    transform: translateY(-2px);
    transition: transform 200ms linear 10ms;
}