@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

html{
    --primary-color: theme('color.violet.800');
}

.text-primary{
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}